build
dist
dist-ssr
pg
node_modules
.DS_Store
*.sublime-project
*.sublime-workspace
Thumbs.db
*.tmp
.idea
.vs
.vscode
._*
*.log
.npmrc
.env
*.local
*.suo
*.user
*.ncb
ipch/
*.sdf
*.opensdf
package-lock.json
.eslintcache
.nyc_output
coverage
.linaria_cache

# Yarn (no PNP)
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
